@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: '微軟正黑體'; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%;
  height: auto; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1 {
  font-size: 24px;
  color: #424242; }

h2 {
  font-size: 20px;
  line-height: 23px;
  color: #4A4A4A; }

h3 {
  font-size: 12px;
  line-height: 15px;
  color: #4A4A4A; }

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: rgba(255, 255, 255, 0.5); }

.wrap {
  max-width: 100%;
  height: auto; }

.header {
  height: 300px;
  background: #424242;
  min-width: 800px; }
  .header .top:after {
    content: '';
    display: table;
    clear: both; }
  .header .top {
    max-width: 1024px;
    margin: 0 auto;
    height: auto; }
    .header .top h1 {
      float: left;
      background-image: url(../img/logo.png);
      float: left;
      margin-left: 173px;
      margin-top: 92px;
      text-indent: 101%;
      overflow: hidden;
      white-space: nowrap;
      height: 117px;
      width: 117px; }
    .header .top form {
      float: left;
      padding-top: 74px;
      padding-left: 97px; }
    .header .top .data {
      font-size: 18px;
      line-height: 21px;
      color: #FFD366; }
    .header .top #height, .header .top #weight {
      font-family: '微軟正黑體';
      font-size: 24px;
      line-height: 28px;
      width: 250px;
      height: 40px;
      border: 2px solid #FFD366;
      border-radius: 10px;
      background: rgba(255, 255, 255, 0.18);
      color: white;
      text-indent: 1em;
      display: block;
      margin-top: 7px;
      margin-bottom: 23px; }
    .header .top input:focus {
      outline: none; }
    .header .top .btn.under-weight {
      border: 6px solid #31BAF9;
      background-color: #424242;
      width: 117px;
      height: 117px; }
    .header .top .btn.over-weight {
      border: 6px solid #FF982D;
      background-color: #424242;
      width: 117px;
      height: 117px; }
    .header .top .btn.light-weight {
      border: 6px solid #FF6C02;
      background-color: #424242;
      width: 117px;
      height: 117px; }
    .header .top .btn.ideal-weight {
      border: 6px solid #86D73E;
      background-color: #424242;
      width: 117px;
      height: 117px; }
    .header .top .btn.heavy-weight {
      border: 6px solid #FF1200;
      background-color: #424242; }
    .header .top .btn {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      background-color: #FFD366;
      color: #424242;
      float: left;
      margin-top: 92px;
      margin-left: 53px;
      font-family: '微軟正黑體';
      line-height: 25px;
      border: none;
      font-size: 24px;
      display: inline-block; }
    .header .top .animate:hover {
      -webkit-box-shadow: 0 1px 6px 3px rgba(255, 195, 49, 0.64);
      box-shadow: 0 1px 6px 3px rgba(255, 195, 49, 0.64); }
    .header .top .animate:active {
      background: #DEA921; }

.result {
  width: 117px;
  height: 117px;
  background-color: #424242;
  display: inline-block;
  position: relative;
  border-radius: 50%;
  margin-top: 95px;
  margin-left: 56px;
  border: 6px solid white;
  display: none;
  color: #86D73E; }
  .result p {
    text-align: center;
    vertical-align: middle; }
  .result #bmi_data {
    padding-top: 30px; }
  .result .refresh {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    border: 3px solid #424242;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    left: 90px;
    bottom: 18px; }

.top #comment {
  font-size: 32px;
  color: white;
  padding-left: 18px;
  position: absolute;
  top: 135px;
  display: none; }

.container {
  width: 100%;
  min-height: 800px;
  background-color: #F2F2F2; }

.content {
  min-height: 800px;
  max-width: 1024px;
  margin: 0 auto;
  padding: 3%; }
  .content .under-weight {
    border-left: 5px solid #31BAF9; }
  .content .over-weight {
    border-left: 5px solid #FF982D; }
  .content .light-weight {
    border-left: 5px solid #FF6C02; }
  .content .ideal-weight {
    border-left: 5px solid #86D73E; }
  .content .heavy-weight {
    border-left: 5px solid #FF1200; }
  .content h1 {
    text-align: center;
    margin-bottom: 36px; }
  .content .bmi-result {
    width: 800px;
    height: 62px;
    margin: 3% auto 3% auto;
    background-color: white; }
    .content .bmi-result li {
      float: left;
      display: inline-block;
      color: #4A4A4A;
      padding-top: 21px;
      width: 12%; }
      .content .bmi-result li h2 {
        display: block;
        line-height: 23px;
        padding-left: 10%; }
      .content .bmi-result li h3 {
        font-size: 12px;
        line-height: 25px;
        display: block;
        float: right; }

.footer {
  height: 90px;
  background-color: #FFD366;
  text-align: center; }
  .footer img {
    -webkit-filter: brightness(20%);
    filter: brightness(20%);
    margin: 0 auto;
    height: 55px;
    width: 55px;
    margin-top: 18px; }
